//define your breakpoints like this:
$breakpoints: (
    small:     (
        mq: "(min-width:  400px) and (max-width:  767px)",
    ),
    small-up:  (
        min-width: 400px
    ),
    medium:    (
        media: screen,
        min-width: 768px,
        max-width: 991px,
    ),
    medium-up: (
        media: screen,
        min-width: 768px,
    ),
    large:     (
        mq: "(min-width:  992px) and (max-width: 1299px)",
    ),
    large-up:  (
        mq: "(min-width:  992px)",
    ),
    x-large:   (
        mq: "(min-width: 1300px)"
    )
);

$font-families: (
    Helvetica: (
        font-family: "'Helvetica', sans-serif",
        line-height-correction-factor-top: 1.5, //measure this
        line-height-correction-factor-bottom: 1 //measure this
    ),
);

$fonts: (
    fontstyle-one: (
        font-size: 30px,
        line-height: 35px,
        font-family-map: map-get($font-families, Helvetica),
        properties: (
            font-weight: normal,
            color: black
        ),
        respond-to: (
            medium-up: (
                font-size: 32px,
                properties: (
                    color: red
                )
            )
        )
    ),
    fontstyle-two: (
        font-size: 25px,
        line-height: 30px,
        font-family-map: map-get($font-families, Helvetica),
        properties: (
            font-weight: normal,
            font-style: italic,
            color: grey
        ),
    ),
);