@import "yy/breakpoint/respond-to"

$responsive-font-extend-fontstyles: true !default

$placeholder-fonts-list: ()

$responsive-font-keywords: ("respond-to")

@mixin responsive-font($fontstyleName, $line-height: false, $color: false, $extendFontstyle: $responsive-font-extend-fontstyles)
    $fontstyle: map-get($fonts,$fontstyleName)

    @if $extendFontstyle
        @if not index($placeholder-fonts-list, $fontstyleName)
            @at-root
                %font-#{$fontstyleName}
                    +_setAllFontStyles($fontstyle, $line-height, $color)
            $placeholder-fonts-list: append($placeholder-fonts-list, $fontstyleName) !global
        @extend %font-#{$fontstyleName}
    @else
        +_setAllFontStyles($fontstyle, $line-height, $color)

@mixin responsive-font-no-extend($fontstyleName, $line-height: false, $color: false)
    +responsive-font($fontstyleName, $line-height, $color, false)

@mixin _setFontStyle($fontstyle, $line-height, $color)
    @each $property, $value in $fontstyle
        @if not index($responsive-font-keywords, $property)
            #{$property}: unquote($value)
        
@mixin _setAllFontStyles($fontstyle, $line-height, $color)
    +_setFontStyle($fontstyle, $line-height, $color)
    //check for respond-to definition, then set these
    @if map-has-key($fontstyle, respond-to)
        @each $media, $respondToFontstyle in map-get($fontstyle, respond-to)
            +respond-to($media)
                +_setFontStyle($respondToFontstyle, $line-height, $color)
