//define your breakpoints like this:
$breakpoints: (
    small:     (
        mq: "(min-width:  400px) and (max-width:  767px)",
    ),
    small-up:  (
        min-width: 400px
    ),
    medium:    (
        media: screen,
        min-width: 768px,
        max-width: 991px,
    ),
    medium-up: (
        media: screen,
        min-width: 768px,
    ),
    large:     (
        mq: "(min-width:  992px) and (max-width: 1299px)",
    ),
    large-up:  (
        mq: "(min-width:  992px)",
    ),
    x-large:   (
        mq: "(min-width: 1300px)"
    )
);

//then something like this

#some-selector {
    @include respond-to(small) {
        background: green;
    }
}
