$breakpoints: (
    small:     "(min-width:  400px) and (max-width:  767px)",
    small-up:  "(min-width:  400px)",
    medium:    "(min-width:  768px) and (max-width:  991px)",
    medium-up: "(min-width:  768px)",
    large:     "(min-width:  992px) and (max-width: 1299px)",
    large-up:  "(min-width:  992px)",
    x-large:   "(min-width: 1300px)"
);