/**
 * The sass map holding the breakpoint information
 * Defaults to `$breakpoints`
 *
 * @type Map
 */
$yy-breakpoint-map: $breakpoints !default;

$memo-exists: function-exists(memo-get) and function-exists(memo-set);

/**
 * Returns a media query string by resolving the settings from `$yy-breakpoint-map` map
 * If you have imported Memo from SassyMaps, this is used to store the computed media queries.
 * @link https://github.com/Team-Sass/Sassy-Maps#memo
 *
 * @param {String}    $breakpoint - the name of breakpoint from global `$yy-breakpoint-map` map
 *
 */
@function getMediaQuery($breakpoint) {
    $mq: '';

    @if $memo-exists {
        $result: memo-get(yy-respond-to-media-query, $breakpoint);
        @if $result != null {
            @return $result;
        }
    }

    //if mq is defined, return this
    @if map-get(map-get($yy-breakpoint-map, $breakpoint), mq) != null {
        $mq: map-get(map-get($yy-breakpoint-map, $breakpoint), mq);
    } @else {
        //otherwise we combine the media query with the given media, min-width, max-width, min-height, max-height and orientation settings
        @if map-get(map-get($yy-breakpoint-map, $breakpoint), media) != null {
            $mq: $mq + map-get(map-get($yy-breakpoint-map, $breakpoint), media);
        }

        @if map-get(map-get($yy-breakpoint-map, $breakpoint), min-width) != null {
            @if $mq != '' {
                $mq: $mq + ' and ';
            }
            $mq: $mq + '(min-width:' + map-get(map-get($yy-breakpoint-map, $breakpoint), min-width) + ')';
        }

        @if map-get(map-get($yy-breakpoint-map, $breakpoint), max-width) != null {
            @if $mq != '' {
                $mq: $mq + ' and ';
            }
            $mq: $mq + '(max-width:' + map-get(map-get($yy-breakpoint-map, $breakpoint), max-width) + ')';
        }

        @if map-get(map-get($yy-breakpoint-map, $breakpoint), min-height) != null {
            @if $mq != '' {
                $mq: $mq + ' and ';
            }
            $mq: $mq + '(min-height:' + map-get(map-get($yy-breakpoint-map, $breakpoint), min-height) + ')';
        }

        @if map-get(map-get($yy-breakpoint-map, $breakpoint), max-height) != null {
            @if $mq != '' {
                $mq: $mq + ' and ';
            }
            $mq: $mq + '(max-height:' + map-get(map-get($yy-breakpoint-map, $breakpoint), max-height) + ')';
        }

        @if map-get(map-get($yy-breakpoint-map, $breakpoint), orientation) != null {
            @if $mq != '' {
                $mq: $mq + ' and ';
            }
            $mq: $mq + '(orientation:' + map-get(map-get($yy-breakpoint-map, $breakpoint), orientation) + ')';
        }
    }

    @if $mq == '' {
        $mq: false;
    }

    @if $memo-exists {
        $holder: memo-set(yy-respond-to-media-query, $breakpoint, $mq);
    }

    @return $mq;
}