@import "../utils/str-to-list";
@import "../utils/map-merge-deep";


$yy-block-widths: ();

@mixin set-block-width($width) {
    & {
        width: $width;
    }
    $selectorItems: str-to-list(#{&});

    $yy-block-widths: map-merge-deep($yy-block-widths, getBlockWidthMapForSelector($selectorItems, $width)) !global;
}

@function getBlockWidthMapForSelector($selectorItems, $width, $index: 1) {
    $map: ();
    @if length($selectorItems) == $index {
        $map: (nth($selectorItems,$index): (width: $width));
    } @elseif length($selectorItems) > 1 {
        $map: (nth($selectorItems, $index): (children: getBlockWidthMapForSelector($selectorItems, $width, $index + 1)));
    } @else {
        $map: ($selectorItems: ('width': $width));
    }
    @return $map;
}
