/*

    this is an example on how to configure your fonts

*/

$font-family-helvetica: "'Helvetica', sans-serif";

//the $font-families map is only needed if you want to use getPaddingForHeight() stuff
$font-families: (
    $font-family-helvetica: (
        line-height-part-top: 1.5, //measure this
        line-height-part-bottom: 1 //measure this
    ),
);

$fonts: (
    // give your font names and define how they should look
    fontstyle-one: (
        font-size: 30px,                                     //this is required if you want to use getPaddingForHeight()
        line-height: 35px,                                   //this is required if you want to use getPaddingForHeight()
        font-family: $font-family-helvetica,
        font-weight: normal,
        color: black
        respond-to: (                                        //define how the font responds to different media queries
            medium-up: (                                     //use the named media queries from yy/breakpoint/respond-to
                font-size: 32px,                             //overwrite or add additional properties as you like
                color: red
            )
        )
    ),
    fontstyle-two: (
        font-size: 25px,
        line-height: 30px,
        font-family: $font-family-helvetica,
        font-weight: normal,
        font-style: italic,
        color: grey
    ),
);