$breakpoints: (
    small:     (
        mq: "(min-width:  400px) and (max-width:  767px)",
    ),
    small-up:  (
        min-width: 400px
    ),
    medium: (
        media: screen,
        min-width: 768px,
        max-width: 991px,
    ),
    medium-up: (
        media: screen,
        min-width: 768px,
    )
);

@import "../../sass/breakpoint/json";

@include registerBreakpoint($name: large-up, $mq: "(min-width:  992px)");

@include json;