$breakpoints: (
    a:     (
        mq: "(min-width:  400px) and (max-width:  767px)",
    ),
    b:  (
        max-width: 400px,
        min-height: 200px,
        orientation: portrait
    ),
    c: (
        media: screen,
        min-width: 768px,
        max-height: 2000px,
        orientation: landscape
    ),
    d:  (
        mq: "(min-width:  992px)",
    ),
);

@import "../../sass/breakpoint/respond-to";
h1 {
    color: black;
    @include respond-to(a) {
        color: white;
    };
    @include respond-to(b) {
        background: red;
    };
    @include respond-to(c) {
        background: purple;
    };
    @include respond-to(d) {
        background: purple;
    };
}