$font-family-helvetica: "'Helvetica', sans-serif";

$fonts: (
    fontstyle-one: (
        font-size: 30px,
        line-height: 35px,
        font-family: $font-family-helvetica,
        font-weight: normal,
        color: black,
        respond-to: (
            medium-up: (
                font-size: 32px,
                color: red
            )
        )
    )
);

$breakpoints: (
    medium-up: (
        media: screen,
        min-width: 768px,
    ),
);

@import "../../sass/font/responsive-font";

@include registerFontstyle(fontstyle-two,
                           $inherit: fontstyle-one,
                           $properties: ( font-size: 25px, line-height: 30px, font-style: italic, color: gray ),
                           $respond-to: ( medium-up: ( font-size: 40px ) ) 
                          );

h1 {
    @include responsive-font(fontstyle-one);
}

h2 {
    @include responsive-font(fontstyle-two);
}

h3 {
    color: getFontStyleProperty(fontstyle-one, color);
}

h4 {
    @include responsive-font(fontstyle-one, $color: red);
}