@import "../../sass/breakpoint/respond-to-block-width";
@import "../../sass/breakpoint/set-block-width";

body {
    @include set-block-width(100%);
    
    #container {
        @include set-block-width(1200px);
        
        section {
            @include set-block-width(60%);
            
            div {
            
                @include set-block-width(80%);
                
                .target {
                    @include set-block-width(90%);
                    @include respond-to-block-width(400px) {
                        background: green;
                    }
                    @include respond-to-block-width(700px) {
                        background: red;
                    }
                }
            }
        }
    
    }

    #container2 {
        @include set-block-width(80%);
        section {
            @include set-block-width(60%);
            
            div {
            
                @include set-block-width(80%);
                
                .target {
                    @include set-block-width(90%);

                    @include respond-to-block-width(100px) {
                        background: green;
                    }
                    @include respond-to-block-width(500px) {
                        background: red;
                    }
                }
            }
        }
    }
}

//@debug $yy-block-widths;